.idea
/.metadata/
.sonarlint/
.vscode/
**/*.iml
*/.classpath
*/.project
*/.settings/
*/target/
**/.local/
kernel/**/.local/
*.class
*.war
*.ear
hs_err_pid*
.springBeans
.factorypath
.vertx/
bin/
tmp/
logs/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.DS_Store
test.txt
.recommenders/
/.recommenders/
